*,
*::before,
*::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom, #c80a3a, #c00938, #b90935, #b10833, #aa0831, #a2082f, #99072c, #91072a, #860627, #7b0624, #710521, #66051e);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
